Flask
Flask-SQLAlchemy
Werkzeug
opencv-python
torch
torchvision
yolov5
numpy
pandas
Pillow
requests
urllib3>=2.5.0
python-dotenv
geopy
polyline
earthengine-api
google-auth
google-auth-oauthlib
google-auth-httplib2
